In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as ss
from scipy.optimize import minimize
from sklearn.metrics import mean_squared_error

In [34]:
df_fama_5  = pd.read_csv('FF5factors.CSV')

In [35]:
df_fama_5.head()

       Date  Mkt-RF   SMB   HML   RMW   CMA     RF
0  19630701   -0.67  0.00 -0.32 -0.01  0.15  0.012
1  19630702    0.79 -0.27  0.27 -0.07 -0.19  0.012
2  19630703    0.63 -0.17 -0.09  0.17 -0.33  0.012
3  19630705    0.40  0.08 -0.28  0.08 -0.33  0.012
4  19630708   -0.63  0.04 -0.18 -0.29  0.13  0.012

In [36]:
df_fama_5 = df_fama_5[df_fama_5.Date > 20160515]

In [37]:
df_fama_5.shape

(997, 7)

In [38]:
df_fama_5.head()

           Date  Mkt-RF   SMB   HML   RMW   CMA     RF
13309  20160516    0.99  0.20 -0.24 -0.05 -0.31  0.001
13310  20160517   -0.95 -0.68  0.61 -0.12 -0.10  0.001
13311  20160518    0.10  0.14  0.83 -1.34 -0.65  0.001
13312  20160519   -0.33 -0.31 -0.30  0.39 -0.01  0.001
13313  20160520    0.75  0.84 -0.30 -0.39 -0.38  0.001

In [39]:
df_fama_5.reset_index(drop = True, inplace= True)

In [40]:
df_fama_5.head()

       Date  Mkt-RF   SMB   HML   RMW   CMA     RF
0  20160516    0.99  0.20 -0.24 -0.05 -0.31  0.001
1  20160517   -0.95 -0.68  0.61 -0.12 -0.10  0.001
2  20160518    0.10  0.14  0.83 -1.34 -0.65  0.001
3  20160519   -0.33 -0.31 -0.30  0.39 -0.01  0.001
4  20160520    0.75  0.84 -0.30 -0.39 -0.38  0.001

In [41]:
df_fama = pd.read_csv ('FF3factors.csv')

In [42]:
df_fama.head()

       Date  Mkt-RF   SMB   HML     RF
0  19260701    0.10 -0.24 -0.28  0.009
1  19260702    0.45 -0.32 -0.08  0.009
2  19260706    0.17  0.27 -0.35  0.009
3  19260707    0.09 -0.59  0.03  0.009
4  19260708    0.21 -0.36  0.15  0.009

In [43]:
df_fama = df_fama[df_fama.Date > 20160515]

In [44]:
df_fama.shape

(997, 5)

In [45]:
df_fama.head()

           Date  Mkt-RF   SMB   HML     RF
23729  20160516    0.99  0.28 -0.24  0.001
23730  20160517   -0.95 -0.78  0.61  0.001
23731  20160518    0.10  0.10  0.83  0.001
23732  20160519   -0.33 -0.32 -0.30  0.001
23733  20160520    0.75  0.90 -0.30  0.001

In [46]:
df_fama.tail()

           Date  Mkt-RF   SMB   HML   RF
24721  20200424    1.44  0.32 -0.09  0.0
24722  20200427    1.73  1.65  2.74  0.0
24723  20200428   -0.44  0.87  2.89  0.0
24724  20200429    2.92  1.87  2.04  0.0
24725  20200430   -1.18 -1.42 -1.63  0.0

In [47]:
df_fama.index = range(0, 997, 1)

In [48]:
df_fama.head()

       Date  Mkt-RF   SMB   HML     RF
0  20160516    0.99  0.28 -0.24  0.001
1  20160517   -0.95 -0.78  0.61  0.001
2  20160518    0.10  0.10  0.83  0.001
3  20160519   -0.33 -0.32 -0.30  0.001
4  20160520    0.75  0.90 -0.30  0.001

In [49]:
df_fama_5.head()

       Date  Mkt-RF   SMB   HML   RMW   CMA     RF
0  20160516    0.99  0.20 -0.24 -0.05 -0.31  0.001
1  20160517   -0.95 -0.68  0.61 -0.12 -0.10  0.001
2  20160518    0.10  0.14  0.83 -1.34 -0.65  0.001
3  20160519   -0.33 -0.31 -0.30  0.39 -0.01  0.001
4  20160520    0.75  0.84 -0.30 -0.39 -0.38  0.001

In [50]:
df_fama.tail()

         Date  Mkt-RF   SMB   HML   RF
992  20200424    1.44  0.32 -0.09  0.0
993  20200427    1.73  1.65  2.74  0.0
994  20200428   -0.44  0.87  2.89  0.0
995  20200429    2.92  1.87  2.04  0.0
996  20200430   -1.18 -1.42 -1.63  0.0

In [51]:
df_jpm = pd.read_csv('JPM.csv')

In [52]:
df_jpm.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2016-05-16  61.209999  61.990002  61.000000  61.660000  55.047691  10951300
1  2016-05-17  61.430000  62.160000  61.150002  61.660000  55.047691  12180900
2  2016-05-18  61.700001  64.169998  61.689999  64.040001  57.172466  24007100
3  2016-05-19  63.529999  64.220001  62.900002  63.389999  56.592175  16076200
4  2016-05-20  63.860001  64.190002  63.369999  63.509998  56.699303  11862000

In [53]:
df_jpm = df_jpm[df_jpm.Date <= '2020-04-30']

In [54]:
df_jpm.shape

(997, 7)

In [55]:
df_jpm.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2016-05-16  61.209999  61.990002  61.000000  61.660000  55.047691  10951300
1  2016-05-17  61.430000  62.160000  61.150002  61.660000  55.047691  12180900
2  2016-05-18  61.700001  64.169998  61.689999  64.040001  57.172466  24007100
3  2016-05-19  63.529999  64.220001  62.900002  63.389999  56.592175  16076200
4  2016-05-20  63.860001  64.190002  63.369999  63.509998  56.699303  11862000

In [56]:
df_jpm.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
992,2020-04-24,90.639999,91.099998,88.489998,90.709999,90.709999,15815300
993,2020-04-27,91.940002,95.629997,91.540001,94.620003,94.620003,22870200
994,2020-04-28,97.809998,98.360001,95.029999,95.290001,95.290001,20238900
995,2020-04-29,99.080002,99.449997,97.269997,97.860001,97.860001,20462600
996,2020-04-30,95.599998,96.839996,94.550003,95.760002,95.760002,19127600

In [58]:
df_jpm['MktRF'] = df_fama['Mkt-RF']
df_jpm['SMB'] = df_fama['SMB']
df_jpm['HML'] = df_fama['HML']
df_jpm['RF'] = df_fama['RF']
df_jpm['RMW'] = df_fama_5['RMW']
df_jpm['CMA'] = df_fama_5['CMA']
df_jpm['SMB_5'] = df_fama_5['SMB']
df_jpm['ADS'] = df_ads['ADS_Index']

In [59]:
df_jpm.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MktRF,SMB,HML,RF,RMW,CMA,SMB_5
0,2016-05-16,61.209999,61.990002,61.000000,61.660000,55.047691,10951300,0.99,0.28,-0.24,0.001,-0.05,-0.31,0.20
1,2016-05-17,61.430000,62.160000,61.150002,61.660000,55.047691,12180900,-0.95,-0.78,0.61,0.001,-0.12,-0.10,-0.68
2,2016-05-18,61.700001,64.169998,61.689999,64.040001,57.172466,24007100,0.10,0.10,0.83,0.001,-1.34,-0.65,0.14
3,2016-05-19,63.529999,64.220001,62.900002,63.389999,56.592175,16076200,-0.33,-0.32,-0.30,0.001,0.39,-0.01,-0.31
4,2016-05-20,63.860001,64.190002,63.369999,63.509998,56.699303,11862000,0.75,0.90,-0.30,0.001,-0.39,-0.38,0.84

In [60]:
df_jpm['yest_close']  = df_jpm['Adj Close'].shift(1) # yesterday close price

In [61]:
df_jpm.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,MktRF,SMB,HML,RF,RMW,CMA,SMB_5,yest_close
992,2020-04-24,90.639999,91.099998,88.489998,90.709999,90.709999,15815300,1.44,0.32,-0.09,0.0,-0.14,0.16,0.29,89.389999
993,2020-04-27,91.940002,95.629997,91.540001,94.620003,94.620003,22870200,1.73,1.65,2.74,0.0,-0.12,0.20,2.20,90.709999
994,2020-04-28,97.809998,98.360001,95.029999,95.290001,95.290001,20238900,-0.44,0.87,2.89,0.0,1.39,0.74,1.65,94.620003
995,2020-04-29,99.080002,99.449997,97.269997,97.860001,97.860001,20462600,2.92,1.87,2.04,0.0,1.22,-0.81,2.27,95.290001
996,2020-04-30,95.599998,96.839996,94.550003,95.760002,95.760002,19127600,-1.18,-1.42,-1.63,0.0,0.71,-0.10,-2.06,97.860001

In [62]:
df_jpm.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MktRF,SMB,HML,RF,RMW,CMA,SMB_5,yest_close
0,2016-05-16,61.209999,61.990002,61.000000,61.660000,55.047691,10951300,0.99,0.28,-0.24,0.001,-0.05,-0.31,0.20,NaN
1,2016-05-17,61.430000,62.160000,61.150002,61.660000,55.047691,12180900,-0.95,-0.78,0.61,0.001,-0.12,-0.10,-0.68,55.047691
2,2016-05-18,61.700001,64.169998,61.689999,64.040001,57.172466,24007100,0.10,0.10,0.83,0.001,-1.34,-0.65,0.14,55.047691
3,2016-05-19,63.529999,64.220001,62.900002,63.389999,56.592175,16076200,-0.33,-0.32,-0.30,0.001,0.39,-0.01,-0.31,57.172466
4,2016-05-20,63.860001,64.190002,63.369999,63.509998,56.699303,11862000,0.75,0.90,-0.30,0.001,-0.39,-0.38,0.84,56.592175

In [63]:
df_jpm['stock_return'] = (df_jpm['Adj Close']-df_jpm['yest_close'])/(df_jpm['yest_close'])

In [64]:
df_jpm['stock_return'].head()

0         NaN
1    0.000000
2    0.038599
3   -0.010150
4    0.001893
Name: stock_return, dtype: float64

In [65]:
#df_jpm['stock_return'].iloc[0] = 0.0

In [66]:
temp = df_jpm.drop(df_jpm.index[[0,1]])

In [67]:
temp.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MktRF,SMB,HML,RF,RMW,CMA,SMB_5,yest_close,stock_return
2,2016-05-18,61.700001,64.169998,61.689999,64.040001,57.172466,24007100,0.10,0.10,0.83,0.001,-1.34,-0.65,0.14,55.047691,0.038599
3,2016-05-19,63.529999,64.220001,62.900002,63.389999,56.592175,16076200,-0.33,-0.32,-0.30,0.001,0.39,-0.01,-0.31,57.172466,-0.010150
4,2016-05-20,63.860001,64.190002,63.369999,63.509998,56.699303,11862000,0.75,0.90,-0.30,0.001,-0.39,-0.38,0.84,56.592175,0.001893
5,2016-05-23,63.450001,63.869999,63.160000,63.459999,56.654667,9347500,-0.18,0.26,-0.32,0.001,-0.21,0.08,0.24,56.699303,-0.000787
6,2016-05-24,63.939999,64.769997,63.810001,64.540001,57.618855,13839400,1.43,0.68,-0.34,0.001,-0.10,-0.39,0.61,56.654667,0.017019

In [69]:
df_jpm.reset_index(drop = True, inplace= True)

#### STOCK RETURN

In [81]:
df_jpm['stock_return'] = (df_jpm['Adj Close']-df_jpm['yest_close'])/(df_jpm['yest_close'])

#### LOG RETURN

In [82]:
df_jpm['log_return'] = np.log(df_jpm['Close']).diff().dropna()

In [83]:
df_jpm.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MktRF,SMB,HML,RF,RMW,CMA,SMB_5,yest_close,stock_return,log_return
2,2016-05-18,61.700001,64.169998,61.689999,64.040001,57.172466,24007100,0.10,0.10,0.83,0.001,-1.34,-0.65,0.14,55.047691,0.038599,NaN
3,2016-05-19,63.529999,64.220001,62.900002,63.389999,56.592175,16076200,-0.33,-0.32,-0.30,0.001,0.39,-0.01,-0.31,57.172466,-0.010150,-0.010202
4,2016-05-20,63.860001,64.190002,63.369999,63.509998,56.699303,11862000,0.75,0.90,-0.30,0.001,-0.39,-0.38,0.84,56.592175,0.001893,0.001891
5,2016-05-23,63.450001,63.869999,63.160000,63.459999,56.654667,9347500,-0.18,0.26,-0.32,0.001,-0.21,0.08,0.24,56.699303,-0.000787,-0.000788
6,2016-05-24,63.939999,64.769997,63.810001,64.540001,57.618855,13839400,1.43,0.68,-0.34,0.001,-0.10,-0.39,0.61,56.654667,0.017019,0.016875

In [84]:
df_jpm.reset_index(drop = True, inplace= True)

In [85]:
df_jpm.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MktRF,SMB,HML,RF,RMW,CMA,SMB_5,yest_close,stock_return,log_return
0,2016-05-18,61.700001,64.169998,61.689999,64.040001,57.172466,24007100,0.10,0.10,0.83,0.001,-1.34,-0.65,0.14,55.047691,0.038599,NaN
1,2016-05-19,63.529999,64.220001,62.900002,63.389999,56.592175,16076200,-0.33,-0.32,-0.30,0.001,0.39,-0.01,-0.31,57.172466,-0.010150,-0.010202
2,2016-05-20,63.860001,64.190002,63.369999,63.509998,56.699303,11862000,0.75,0.90,-0.30,0.001,-0.39,-0.38,0.84,56.592175,0.001893,0.001891
3,2016-05-23,63.450001,63.869999,63.160000,63.459999,56.654667,9347500,-0.18,0.26,-0.32,0.001,-0.21,0.08,0.24,56.699303,-0.000787,-0.000788
4,2016-05-24,63.939999,64.769997,63.810001,64.540001,57.618855,13839400,1.43,0.68,-0.34,0.001,-0.10,-0.39,0.61,56.654667,0.017019,0.016875

In [86]:
df_jpm['log_return'].iloc[0] = 0.0

//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [87]:
df_jpm

,Date,Open,High,Low,Close,Adj Close,Volume,MktRF,SMB,HML,RF,RMW,CMA,SMB_5,yest_close,stock_return,log_return
0,2016-05-18,61.700001,64.169998,61.689999,64.040001,57.172466,24007100,0.10,0.10,0.83,0.001,-1.34,-0.65,0.14,55.047691,0.038599,0.000000
1,2016-05-19,63.529999,64.220001,62.900002,63.389999,56.592175,16076200,-0.33,-0.32,-0.30,0.001,0.39,-0.01,-0.31,57.172466,-0.010150,-0.010202
2,2016-05-20,63.860001,64.190002,63.369999,63.509998,56.699303,11862000,0.75,0.90,-0.30,0.001,-0.39,-0.38,0.84,56.592175,0.001893,0.001891
3,2016-05-23,63.450001,63.869999,63.160000,63.459999,56.654667,9347500,-0.18,0.26,-0.32,0.001,-0.21,0.08,0.24,56.699303,-0.000787,-0.000788
4,2016-05-24,63.939999,64.769997,63.810001,64.540001,57.618855,13839400,1.43,0.68,-0.34,0.001,-0.10,-0.39,0.61,56.654667,0.017019,0.016875
5,2016-05-25,64.940002,66.199997,64.919998,65.519997,58.493767,18935200,0.72,-0.21,0.57,0.001,0.21,-0.10,-0.13,57.618855,0.015184,0.015070
6,2016-05-26,65.570000,65.580002,64.910004,65.029999,58.056301,9428400,-0.04,-0.09,-0.51,0.001,0.17,-0.22,-0.16,58.493767,-0.007479,-0.007507
7,2016-05-27,65.209999,65.459999,65.050003,65.430000,58.413418,10116000,0.49,0.33,-0.22,0.001,-0.06,-0.09,0.36,58.056301,0.006151,0.006132
8,2016-05-31,65.730003,65.820000,64.959999,65.269997,58.270561,15139400,-0.01,0.50,-0.36,0.001,-0.17,-0.33,0.45,58.413418,-0.002446,-0.002448
9,2016-06-01,64.760002,65.919998,64.260002,65.690002,58.645523,14031000,0.20,0.65,-0.25,0.001,-0.26,0.08,0.64,58.270561,0.006435,0.006414
10,2016-06-02,65.519997,65.809998,65.160004,65.809998,58.752651,10637600,0.35,0.31,-0.59,0.001,-0.24,-0.08,0.25,58.645523,0.001827,0.001825
11,2016-06-03,64.250000,64.860001,63.549999,64.639999,57.708122,20261700,-0.38,-0.14,-0.10,0.001,0.53,0.14,-0.18,58.752651,-0.017778,-0.017938
12,2016-06-06,64.639999,65.760002,64.599998,65.279999,58.279491,13193500,0.60,0.68,0.32,0.001,-0.19,-0.11,0.71,57.708122,0.009901,0.009852
13,2016-06-07,65.449997,65.739998,65.040001,65.059998,58.083084,9924100,0.12,0.19,0.11,0.001,0.34,0.22,0.23,58.279491,-0.003370,-0.003376
14,2016-06-08,64.930000,65.480003,64.919998,65.250000,58.252705,9428000,0.37,0.45,-0.11,0.001,0.05,-0.10,0.43,58.083084,0.002920,0.002916
15,2016-06-09,64.790001,64.900002,64.269997,64.750000,57.806332,10817800,-0.27,-0.39,-0.21,0.001,0.31,0.13,-0.43,58.252705,-0.007663,-0.007692
16,2016-06-10,63.930000,64.070000,63.580002,63.840000,56.993923,16678400,-1.05,-0.35,-0.17,0.001,0.16,0.60,-0.38,57.806332,-0.014054,-0.014154
17,2016-06-13,63.480000,64.339996,63.259998,63.270000,56.485046,14314900,-0.84,-0.37,0.10,0.001,-0.24,-0.04,-0.37,56.993923,-0.008929,-0.008969
18,2016-06-14,62.680000,63.470001,61.680000,62.080002,55.422665,19509300,-0.19,0.27,-0.71,0.001,0.27,0.03,0.14,56.485046,-0.018808,-0.018987
19,2016-06-15,62.410000,62.980000,61.910000,61.970001,55.324451,16982100,-0.11,0.25,-0.06,0.001,-0.05,0.05,0.26,55.422665,-0.001772,-0.001773
20,2016-06-16,61.450001,62.299999,60.900002,62.220001,55.547646,16791200,0.24,-0.34,-0.40,0.001,0.28,0.35,-0.31,55.324451,0.004034,0.004026
21,2016-06-17,62.299999,62.709999,61.930000,62.279999,55.601212,15751500,-0.30,-0.10,0.94,0.001,0.40,0.62,0.07,55.547646,0.000964,0.000964
22,2016-06-20,63.450001,63.849998,62.340000,62.369999,55.681557,12213200,0.71,0.61,-0.01,0.001,-0.16,0.12,0.59,55.601212,0.001445,0.001444
23,2016-06-21,62.730000,63.000000,62.139999,62.950001,56.199364,11611600,0.21,-0.62,0.50,0.001,-0.20,0.00,-0.61,55.681557,0.009299,0.009256
24,2016-06-22,62.950001,63.709999,62.680000,62.709999,55.985100,12643500,-0.20,-0.31,0.08,0.001,0.05,0.00,-0.30,56.199364,-0.003813,-0.003820
25,2016-06-23,63.700001,64.150002,63.529999,64.050003,57.181396,16583600,1.45,0.50,0.43,0.001,-0.55,-0.20,0.54,55.985100,0.021368,0.021143
26,2016-06-24,60.480000,61.700001,59.340000,59.599998,53.208607,44108700,-3.70,0.15,-1.13,0.001,0.93,0.10,0.02,57.181396,-0.069477,-0.072009
27,2016-06-27,58.709999,58.750000,57.049999,57.610001,51.432011,37300700,-2.07,-0.95,-0.67,0.001,0.52,0.43,-1.06,53.208607,-0.033389,-0.033959
28,2016-06-28,59.189999,59.549999,58.259998,59.520000,53.137184,29088700,1.76,-0.39,0.14,0.001,-0.61,-0.59,-0.38,51.432011,0.033154,0.032616
29,2016-06-29,60.360001,61.209999,60.000000,61.200001,54.637028,21483000,1.80,0.27,-0.07,0.001,-0.11,-0.24,0.31,53.137184,0.028226,0.027835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,2020-03-19,81.559998,88.110001,76.910004,85.300003,84.422729,32175100,1.32,5.60,0.89,0.006,-1.67,-1.58,5.75,83.027229,0.016808,0.016668
966,2020-03-20,86.300003,89.459999,82.480003,83.500000,82.641243,30150800,-4.15,0.43,-0.98,0.006,-0.74,-1.19,0.31,84.422729,-0.021102,-0.021328
967,2020-03-23,82.680000,83.750000,78.089996,79.029999,78.217209,32536600,-2.56,2.10,-3.38,0.006,0.31,-1.21,1.60,82.641243,-0.053533,-0.055019
968,2020-03-24,84.900002,90.099998,82.900002,88.430000,87.520538,34363200,9.34,-1.17,2.46,0.006,0.48,0.21,-0.16,78.217209,0.118942,0.112384
969,2020-03-25,89.239998,95.150002,84.540001,91.730003,90.786606,38111700,1.18,-0.63,1.94,0.006,-0.05,0.13,-0.13,87.520538,0.037318,0.036638
970,2020-03-26,94.080002,98.570000,93.540001,98.120003,97.110886,29826300,6.02,-0.61,1.13,0.006,-0.56,0.04,-0.43,90.786606,0.069661,0.067342
971,2020-03-27,93.190002,94.839996,90.550003,91.129997,90.192764,30041500,-3.47,-0.80,-0.72,0.006,-1.12,0.83,-1.06,97.110886,-0.071239,-0.073904
972,2020-03-30,90.650002,94.089996,89.300003,93.500000,92.538399,21656900,3.16,-0.40,-2.18,0.006,-0.17,0.18,-0.82,90.192764,0.026007,0.025674
973,2020-03-31,92.050003,94.169998,89.339996,90.029999,89.104080,23379300,-1.44,1.79,-0.42,0.006,0.40,-0.13,1.51,92.538399,-0.037112,-0.037818
974,2020-04-01,85.099998,86.559998,83.250000,84.360001,83.492393,28029600,-4.51,-1.60,-1.43,0.000,0.14,0.30,-2.06,89.104080,-0.062979,-0.065050
975,2020-04-02,83.510002,87.910004,82.959999,87.510002,86.610001,24018000,2.10,-0.98,-0.29,0.000,-0.11,0.94,-0.93,83.492393,0.037340,0.036660
976,2020-04-03,86.000000,87.480003,82.769997,84.050003,84.050003,21199400,-1.64,-1.14,-1.12,0.000,-0.21,0.40,-1.38,86.610001,-0.029558,-0.040341
977,2020-04-06,88.989998,90.989998,87.699997,89.459999,89.459999,26820800,7.07,0.79,0.22,0.000,1.27,-0.77,1.16,84.050003,0.064366,0.062380
978,2020-04-07,94.449997,94.500000,90.379997,90.639999,90.639999,22563800,-0.11,-0.53,2.23,0.000,0.87,-0.34,0.14,89.459999,0.013190,0.013104
979,2020-04-08,92.099998,94.860001,90.550003,94.300003,94.300003,22903300,3.40,0.37,1.30,0.000,0.39,-0.22,0.89,90.639999,0.040380,0.039586
980,2020-04-09,96.919998,104.389999,96.889999,102.760002,102.760002,42084700,1.60,1.98,3.14,0.000,-0.89,-0.09,2.46,94.300003,0.089714,0.085915
981,2020-04-13,103.110001,103.110001,97.300003,98.190002,98.190002,26911900,-0.92,-0.77,-2.41,0.000,-0.57,-0.09,-1.39,102.760002,-0.044473,-0.045492
982,2020-04-14,101.019997,102.000000,93.639999,95.500000,95.500000,46151300,3.02,-0.13,-3.13,0.000,0.18,-0.38,-0.70,98.190002,-0.027396,-0.027778
983,2020-04-15,91.150002,92.029999,90.129997,90.790001,90.790001,30118600,-2.15,-1.21,-2.46,0.000,-0.37,-0.33,-1.95,95.500000,-0.049319,-0.050577
984,2020-04-16,90.230003,90.570000,87.050003,87.330002,87.330002,32449600,0.62,-0.25,-2.98,0.000,-0.31,-0.28,-0.86,90.790001,-0.038110,-0.038855
985,2020-04-17,92.000000,95.699997,90.959999,95.180000,95.180000,30191900,2.73,0.78,2.57,0.000,-0.19,0.04,1.57,87.330002,0.089889,0.086076
986,2020-04-20,92.470001,94.709999,90.459999,91.709999,91.709999,23679400,-1.56,0.82,-1.02,0.000,-1.80,-0.56,0.40,95.180000,-0.036457,-0.037138
987,2020-04-21,88.620003,91.379997,88.330002,89.050003,89.050003,23035000,-3.08,0.98,0.03,0.000,0.23,0.34,0.98,91.709999,-0.029004,-0.029433
988,2020-04-22,90.690002,91.870003,89.180000,89.339996,89.339996,16706000,2.31,-0.73,-1.60,0.000,0.18,0.06,-0.90,89.050003,0.003257,0.003251
989,2020-04-23,89.739998,91.279999,89.260002,89.389999,89.389999,16638800,0.13,1.16,0.58,0.000,0.63,-0.33,1.29,89.339996,0.000560,0.000560
990,2020-04-24,90.639999,91.099998,88.489998,90.709999,90.709999,15815300,1.44,0.32,-0.09,0.000,-0.14,0.16,0.29,89.389999,0.014767,0.014659
991,2020-04-27,91.940002,95.629997,91.540001,94.620003,94.620003,22870200,1.73,1.65,2.74,0.000,-0.12,0.20,2.20,90.709999,0.043104,0.042201
992,2020-04-28,97.809998,98.360001,95.029999,95.290001,95.290001,20238900,-0.44,0.87,2.89,0.000,1.39,0.74,1.65,94.620003,0.007081,0.007056
993,2020-04-29,99.080002,99.449997,97.269997,97.860001,97.860001,20462600,2.92,1.87,2.04,0.000,1.22,-0.81,2.27,95.290001,0.026970,0.026613
994,2020-04-30,95.599998,96.839996,94.550003,95.760002,95.760002,19127600,-1.18,-1.42,-1.63,0.000,0.71,-0.10,-2.06,97.860001,-0.021459,-0.021693

In [78]:
df_jpm=temp.copy()

In [88]:
df_fama_jpm = df_jpm.to_csv('df_jpm.csv',index=False)

In [3]:
df_ads = pd.read_csv('ads.csv')

In [5]:
df_ads.head()

     Date  ADS_Index
0  3/1/60  -2.395069
1  3/2/60  -2.369012
2  3/3/60  -2.341905
3  3/4/60  -2.313746
4  3/5/60  -2.284532